.grillaTitulos{
    width: 90%;
    margin: 20px auto;
    display: grid;
    grid-template-columns:repeat(3, auto);
    grid-template-rows:repeat(6, auto);
    grid-template-areas:
    "tituloTitulos tituloTitulos tituloTitulos"
    "titulo1 titulo2 titulo3"
    "titulo4 titulo5 titulo6"
    "titulo7 titulo8 titulo9"
    "titulo10 titulo11 titulo12"
    "titulo13 titulo13 titulo13";
    gap: 20px;
}
.tituloTitulos{
    grid-area: tituloTitulos;
    text-align: center;
}
.titulo{
    margin:20px;
    padding: 20px;
    text-align: center;
    .titulo1{
        grid-area: titulo1;
        @extend .titulo;
    }
    .titulo2{
        grid-area: titulo2;
        @extend .titulo;
    }
    .titulo3{
        grid-area: titulo3;
        @extend .titulo;
    }
    .titulo4{
        grid-area: titulo4;
        @extend .titulo;
    }
    .titulo5{
        grid-area: titulo5;
        @extend .titulo;
    }
    .titulo6{
        grid-area: titulo6;
        @extend .titulo;
    }
    .titulo7{
        grid-area: titulo7;
        @extend .titulo;
    }
    .titulo8{
        grid-area: titulo8;
        @extend .titulo;
    }
    .titulo9{
        grid-area: titulo9;
        @extend .titulo;
    }
    .titulo10{
        grid-area: titulo10;
        @extend .titulo;
    }
    .titulo11{
        grid-area: titulo11;
        @extend .titulo;
    }
    .titulo12{
        grid-area: titulo12;
        @extend .titulo;
    }
    .titulo13{
        grid-area: titulo13;
        @extend .titulo;
    }
}